<section class="pt-3">
  <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3><%= counts.enquiryCount %> </h3>

          <p>New Enquies</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="/admin/enquiries" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3><%= counts.closedCount %></h3>

          <p>Closed Enquiries</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3><%= counts.usersCount %> </h3>

          <p>Users</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="/admin/working-employees" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3><%= counts.failedCount %> </h3>

          <p>Failed Enquiries</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="/admin/enquiry/failed" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
</section>
<section>
  <!-- Info boxes -->
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box">
        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-walking"></i></span>
        <div class="info-box-content cursor-pointer" onclick="window.location.href='/<%= route%>/user-types/field'">
          <span class="info-box-text">Field Executives</span>
          <span class="info-box-number">
            <%= counts.fieldStaffCount %>
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3 cursor-pointer" onclick="window.location.href='/<%= route%>/user-types/showroom'">
        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-store"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Showroom Executives</span>
          <span class="info-box-number"> <%= counts.showroomStaffCount %> </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->

    </div>
    <!-- /.col -->

    <div class="col-12 col-sm-6 col-md-3">
      <div class="cursor-pointer info-box mb-3" onclick="window.location.href='/<%= route%>/managers/profile'">
        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Managers</span>
          <span class="info-box-number"><%= counts.managersCount %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3 cursor-pointer" onclick="window.location.href='#'">
        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Closings</span>
          <span class="info-box-number">760</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

<section>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-info">
          <h5>Last 5 days company Activities</h5>
        </div>
        <div class="card-body">
          <canvas id="fiveDaysBarChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-info">
          <h5>Last 6 months company Activities</h5>
        </div>
        <div class="card-body">
          <canvas id="sixMonthsLineChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  const ctxFiveDays = document.getElementById('fiveDaysBarChart');
  const ctxSixMonths = document.getElementById('sixMonthsLineChart');

  axios.get('/api/v1/last-five-days-counts').then(response => {
    const myChart = new Chart(ctxFiveDays, {
      type: 'bar',
      data: {
        labels: response.data.days,
        datasets: [{
            label: '# of Enquiries',
            data: response.data.success,
            backgroundColor: [
              '#1FA3B7',
            ]
          },
          {
            label: '# of closed nquiries',
            data: response.data.closed,
            backgroundColor: [
              '#2FA64D',
            ]
          },
          {
            label: '# of failed nquiries',
            data: response.data.failed,
            backgroundColor: [
              '#DB3447',
            ]
          }
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  })
  axios.get('/api/v1/last-six-months-counts').then(response => {
    const myChart = new Chart(ctxSixMonths, {
      type: 'line',
      data: {
        labels: response.data.months,
        datasets: [{
            label: '# of Enquiries',
            data: response.data.success,
            borderColor: [
              '#1FA3B7',
            ],
            backgroundColor: [
              '#1FA3B7',
            ]
          },
          {
            label: '# of closed nquiries',
            data: response.data.closed,
            borderColor: [
              '#2FA64D',
            ],
            backgroundColor: [
              '#2FA64D',
            ]
          },
          {
            label: '# of failed nquiries',
            data: response.data.failed,
            borderColor: [
              '#DB3447',
            ],
            backgroundColor: [
              '#DB3447',
            ]
          }
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  })
</script>