<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Employees Performance Profile </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item active">Employees Performance Profile</li>
        </ol>
      </div>

    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/<%= route %>/employees/<%= userDetails._id %>" method="get">
            <div class="form-group">
              <label for="month">Select Month</label>
              <input type="month" name="month" id="month" checked class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Find</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <h4>Name</h4>
          <span><%= userDetails.fullName %> </span>
          <h4>Head</h4>
          <span><%= userDetails.managed_by?.full_name ||' Not assigned' %> </span>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <h4>Monthly Report - <%= moment(month).format('MMMM YYYY') %> </h4>
  <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3><%= counts.activeCount %> </h3>
          <p>Enquiries</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-book"></i>
        </div>
        <a href="/<%= route %>/employees/<%= userDetails._id %>/enquiries" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3><%= counts.closedCount %></h3>

          <p>Closed</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-close"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3><%= (counts.closedCount/counts.activeCount)*100||0 %><sup style="font-size: 20px">%</sup></h3>

          <p>Success Rate</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3><%= counts.failedCount %> </h3>

          <p>Failed enquiries</p>
        </div>
        <div class="icon">
          <i class="ion ion-information-circled"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
</section>
<section>
  <h4>All time records </h4>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box">
        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Enquiries</span>
          <span class="info-box-number">
            <%= counts.activeCountAll %>
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-thumbs-up"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Closed</span>
          <span class="info-box-number"><%= counts.closedCountAll %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-percentage"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Success Rate</span>
          <span class="info-box-number"><%= (counts.closedCountAll/counts.activeCountAll)*100 %>%</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-info"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Failed</span>
          <span class="info-box-number"><%= counts.failedCountAll %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
</section>
<section>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="modal-header bg-info">
          <h5>Last 10 days Sales</h5>
        </div>
        <div class="card-body">
          <canvas id="tenDaysSales" height="100px"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="modal-header bg-info">
          <h5>Last 6 Months Sales</h5>
        </div>
        <div class="card-body">
          <canvas id="sixMonthSales"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>