<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><%= title %></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/<%= route %>">Home</a></li>
          <li class="breadcrumb-item active"><%= title %></li>
        </ol>
      </div>
    </div>
  </div>

  <section>
    <div class="row">
      <% users.forEach(element => { %>
      <div class="col-md-4 mt-3">
        <div class="card">
          <div class="card-body">
            <h6><strong>Name : </strong> <%= `${element.firstName} ${element.lastName}` %></h6>
            <h6><strong>Phone : </strong> <%=element.phone %></h6>
            <h6><strong>Email : </strong> <%=element.phone %></h6>
            <h6><strong>Active Enquiries : </strong> 0</h6>
            <h6><strong>Fully Closed </strong> 0</h6>
            <h6><strong>Partial Closed </strong> 0</h6>
          </div>
          <div class="card-footer">
            <a class="btn btn-sm btn-primary" href="/<%= route %>/employees/<%= element._id %>">View detais</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </section>