<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          <%= title %>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
          <li class="breadcrumb-item active">
            <%= title %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form id="<%= formId %>" action="<%= action %>" method="post">

              <div class="form-group mt-3">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="form-control" value="<%= clientData.name %>">
              </div>
              <div class="form-group mt-3">
                <label for="address">Address</label>
                <textarea name="address" id="address" rows="3" class="form-control"><%= clientData.address %></textarea>
              </div>
              <div class="form-group mt-3">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" class="form-control" value="<%= clientData.email %>">
              </div>
              <div class="form-group mt-3">
                <label for="phone">Phone</label>
                <input type="number" name="phone" id="phone" class="form-control" value="<%= clientData.phone %>">
              </div>
              <div class="form-group mt-3">
                <label for="designation">Designation</label>
                <input type="text" name="designation" id="designation" class="form-control" value="<%= clientData.designation %>">
              </div>
              <div class="form-group mt-3">
                <label for="type">Clent type</label>
                <select name="type" id="type" class="form-control">
                  <option value="">Select </option>
                  <% clientTypes.forEach(element => { %>
                  <% if (element._id==clientData.type) { %>
                    <option selected value="<%= element._id %>"><%= element.typeName %> </option>
                    <% } else { %>
                      <option value="<%= element.typeName %>"><%= element.typeName %> </option>
                  <% } %>
                  <% }) %>
                </select>
              </div>

              <button class="btn btn-primary" type="submit">Submit</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>