<div class="row">
  <div class="col-md-7">
    <h1>Manager List</h1>
    <div class="card">
      <div class="card-body">
          <a class="btn btn-primary" href="/<%= route %>/create-manager">Create Manager</a>
        <% managers.forEach(element=> { %>
        <div class="row">
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-10">
                    <div class="d-flex flex-column">
                      <h4>Name : <%= element.full_name %>
                      </h4>
                      <h6>Username : <%= element.username %>
                      </h6>
                    </div>
                  </div>
                  <div class="col-md-2">
                      <a href="/admin/manager-profile/<%= element._id %>" class="btn btn-primary btn-block">Profie</a>
                    <a href="/admin/manager/<%= element._id %>" class="btn btn-warning btn-block">Edit</a>
                    <a href="/admin/delete-manager/<%= element._id %>" class="btn btn-danger btn-block">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>