<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          <%= title %>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/dashboard/home">Home</a></li>
          <li class="breadcrumb-item active">
            <%= title %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section>
  <% if (enq) { %>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h3>Title : <%= enq.enquiry.title %> </h3>
          <h6>Client : <%= enq.enquiry.clientName %> </h6>
          <h6>Phone number : <%= enq.enquiry.clientPhone %> </h6>
          <h6>Address : <%= enq.enquiry.clientAddress %> </h6>
          <h6>Designation : <%= enq.enquiry.clientDesignation %> </h6>
          <h6>Type : <%= enq.enquiry.clientTypeName %> </h6>
        </div>
      </div>
    </div>
  </div>
  <!-- <section>
      <div class="card my-3">
        <div class="card-body">
          <h3>With</h3>
          <div class="row">
            <%# enq.associate.forEach(element => { %>
            <div class="col-md-4 border p-3 m-3 shadow-sm">
              <h6 class="badge badge-success"> <%#= element.type %> </h6>
              <h5> <%#= element.name %></h5>
              <h6><%#= element.phone %> </h6>
              <h6><%#= element.address %> </h6>
            </div>
            <%# }) %>
          </div>
        </div>
      </div>
    </section> -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="h3">Details</div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Sl. No</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Temparature</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody>
                <% enq.details.forEach((element,index) => { %>
                <tr>
                  <td><%= index+1 %> </td>
                  <td><%= moment(element.date).format("DD-MM-YYYY") %> </td>
                  <td><%= element.status %> </td>
                  <td><%= element.temparature %> </td>
                  <td><%= element.remarks %> </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3>Salesman</h3>
          <h6><%= enq.enquiry.firstName %> <%= enq.enquiry.lastName %> </h6>
          <h6><%= enq.enquiry.phone %> </h6>
          <h6><%= enq.enquiry.email %> </h6>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</section>
<section>
  <div class="row py-4">
    <div class="col-md-3">
      <a href="/dashboard/enquiries/update/" class="btn btn-primary"> Post update</a>
    </div>
  </div>
</section>