<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          <%= title %>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/<%= route %>">Home</a></li>
          <li class="breadcrumb-item active">
            <%= title %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section>
  <% if (enq) { %>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h3>Title : <%= enq.enq_title %> </h3>
          <h6>Client : <%= enq.enq_client.client_name %> </h6>
          <h6>Phone number : <%= enq.enq_client.client_phone %> </h6>
          <h6>Address : <%= enq.enq_client.client_address %> </h6>
          <h6>Designation : <%= enq.enq_client.client_desi %> </h6>
          <h6>Type : <%= enq.enq_client.client_type.type_name %> </h6>
        </div>
      </div>
    </div>
  </div>
  <!-- <section>
      <div class="card my-3">
        <div class="card-body">
          <h3>With</h3>
          <div class="row">
            <%# enq.associate.forEach(element => { %>
            <div class="col-md-4 border p-3 m-3 shadow-sm">
              <h6 class="badge badge-success"> <%#= element.type %> </h6>
              <h5> <%#= element.name %></h5>
              <h6><%#= element.phone %> </h6>
              <h6><%#= element.address %> </h6>
            </div>
            <%# }) %>
          </div>
        </div>
      </div>
    </section> -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="h3">Details</div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Sl. No</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Temparature</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody>
                <% enq.enq_updates.forEach((element,index) => { %>
                <tr>
                  <td><%= index+1 %> </td>
                  <td><%= moment(element.update_date).format("DD-MM-YYYY") %> </td>
                  <td><%= element.update_status %> </td>
                  <td><%= element.update_temparature %> </td>
                  <td><%= element.update_remarks %> </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3>Salesman</h3>
          <h6><%= enq.enq_user.firstName %> <%= enq.enq_user.lastName %> </h6>
          <h6><%= enq.enq_user.phone %> </h6>
          <h6><%= enq.enq_user.email %> </h6>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</section>
<% if (!enq.enq_closed) { %>
<section>
  <div class="row py-4">
    <div class="col-md-3">
      <a href="/<%= route %>/enquiries/update/" class="btn btn-primary"> Post update</a>
    </div>
  </div>
</section>
<% } %>