<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          <%= title %>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/<%= route %>">Home</a></li>
          <li class="breadcrumb-item active">
            <%= title %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="content">
    <div class="container">
      <a class="btn btn-primary mb-3" href="/<%= route %>/enquiries/create">Create new</a>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table" id="example1">
                  <thead>
                    <tr>
                      <th>Serial</th>
                      <th>Title</th>
                      <th>Date</th>
                      <th>Client</th>
                      <th colspan="3">Operaton</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% enquiries.forEach((element,index)=> { %>
                    <tr>
                      <td>
                        <%= index+1 %>

                      <td><%= element.enq_title %> </td>
                      <td>
                        <%= moment(element.enq_date).format("DD-MM-YYYY") %>
                      </td>
                      <td>
                        <%= element.enq_client.client_name %>
                      </td>
                      </td>
                      <!-- <td>
                      <% if (element.enq_closed) { %>
                      <div class="badge bg-warning">Working</div>
                      <% } else if (element.status===1) { %>
                      <div class="badge bg-success">Closed</div>
                      <% } else if (element.status===2) { %>
                      <div class="badge bg-danger">Failed</div>
                      <% } %>
                    </td> -->
                      <td>
                        <a class="text-primary" href="/<%= route %>/enquiries/view/<%= element.id %> ">View Details</a>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Button trigger modal -->
