<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          <%= title %>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/dashboard/home">Home</a></li>
          <li class="breadcrumb-item active">
            <%= title %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-body">
            <form action="<%= formAction %>" method="post">
              <div class="form-group mt-3">
                <label for="name">Name</label>
                <input type="text" name="usertype" id="name" class="form-control"  value="<%= typeData.usertype %>"/>
              </div>
              <div class="row small">
                <div class="col-12">
                  <div class="form-group">
                      <input type="checkbox" <%= typeData?.permissions?.manage_clients %>  name="manage_clients" id="manage_clients" />
                    <!-- typeData.permissions.manage_clients -->
                    <label for="manage_clients">Manage Clients</label>
                  </div>
                </div>
                <div class="mx-3">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input <%= typeData?.permissions?.view_clients %> type="checkbox" name="view_clients" id="view_clients" />
                        <label for="view_clients">View Clients</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input <%= typeData?.permissions?.modify_client_details %> type="checkbox" name="modify_client_details" id="modify_client_details" />
                        <label for="modify_client_details">Modify Client</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input <%= typeData?.permissions?.create_clients %> type="checkbox" name="create_clients" id="create_clients" />
                        <label for="create_clients">Create Clients</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input <%= typeData?.permissions?.create_client_type %> type="checkbox" name="create_client_type" id="create_client_type" />
                        <label for="create_client_type">Create Client Type</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input <%= typeData?.permissions?.modify_client_type %> type="checkbox" name="modify_client_type" id="modify_client_type" />
                        <label for="modify_client_type">Modify Client types</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input <%= typeData?.permissions?.view_client_type %> type="checkbox" name="view_client_type" id="view_client_type" />
                        <label for="view_client_type">View Client Type</label>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                <div class="col-12">
                  <div class="form-group">
                    <input type="checkbox" name="manage_employees" id="manage_employees" />
                    <label for="manage_employees">Manage Employees</label>
                  </div>
                </div>
                <div class="mx-3">
                  <div class="row">

                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <input type="checkbox" name="manage_enquiries" id="manage_enquiries" />
                    <label for="manage_enquiries">Manage Enquiries</label>
                  </div>
                </div>
              </div>

              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>